@charset "utf-8";

html, body {margin: 0;height: 100%;min-height: 100%;}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$rc: "Inter", sans-serif;
$ps: "Inter", sans-serif;

$siteWidth: 1230px;                      // Ширина
$siteMinWidth: 340px;                   // Минимальная ширина

$siteFontFamily: $rc, arial;                 // Основное семейство
$siteFontSize: 18px;                    // Основной размер


$H1Size: $siteFontSize*2 + 14;               // Размер заголовка

$siteColor: #161b21;                       // Цвет шрифта
$linkColor: #161b21;                       // Цвет ссылок
$HnColor: #161b21;                         // Цвет заголовка


body {
    position: relative;
    min-width: $siteMinWidth;
    text-align: left;
    color: $siteColor;
    font: $siteFontSize $siteFontFamily;
    line-height: 1;
    background: #F1F0EC;
}

h1, h2, h3, h4, h5, h6 {
    color: $HnColor;
    font-family: $ps, $siteFontFamily;
    font-weight: 400;
    font-style: normal;
}

h1 {margin-top: 0; font-size: $H1Size;}
h2 {font-size: round($H1Size - 2);}
h3 {font-size: round($H1Size - 4);}
h4 {font-size: round($H1Size - 6);}
h5 {font-size: round($H1Size - 8);}
h6 {font-size: round($H1Size - 9);}
h5, h6 {font-size: round($H1Size - 10);}


@media all and (max-width: 1024px) {
    h1 {margin-top: 0; font-size: 28px;}
    h2 {font-size: 26px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    h5 {font-size: 20px;}
    h6 {font-size: 18px;}
    h5, h6 {font-size: 16px;}
}

a {text-decoration: underline; color: $linkColor;}
a:hover {text-decoration: none;}

a img {border-color: $siteColor;}


a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

img, textarea, input, table {
    max-width: 100%;
}

.site_wrapper {
   display: flex;
   flex-direction: column;
}

*{
    box-sizing: border-box;
}

.block_inner {
    max-width: $siteWidth;
    margin: 0 auto;
}

.col2-field {

    @media all and (min-width: 768px) {
        display: flex;

        .field {
            flex: 0 0 calc(50% - 8px);
            margin-right: 16px;

            &:nth-child(2){
                margin-right: 0;
            }
        }
    }
}

.oveflowHidden {
    overflow: hidden;
}

.field {
    margin-bottom: 16px;
    position: relative;

    input[type="text"],input[type="password"],input[type="tel"]  {
        width: 100%;
        padding: 0 27px;
        height: 52px;
        background: #f1f0ec;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #161b21;
        border: 3px solid #161b21;
        box-sizing: border-box;
        border-radius: 40px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    select {
        width: 100%;
        padding: 0 27px;
        height: 52px;
        background: #f1f0ec;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #161b21;
        border: 3px solid #161b21;
        box-sizing: border-box;
        border-radius: 40px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    textarea {
        width: 100%;
        padding: 16px 27px;
        height: 90px;
        background: #f1f0ec;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #161b21;
        border: 3px solid #161b21;
        box-sizing: border-box;
        border-radius: 40px;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    .field_name {
        font-weight: 700;
        font-size: 16px;
        line-height: 95%;
        color: #242424;
        padding-bottom: 15px;
    }

    &.checkbox {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        transition: all 0.3s;
                        background-color: #fff;
                        z-index: 1;
                    }

                    input:checked + span {
                        background-color: #183E98;
                        border-color: #183E98;
                        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6666 3.5L5.24992 9.91667L2.33325 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                    }
                }
            }
        }
    }

    &.radio {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-color: #fff;
                        border-radius: 50%;
                        z-index: 1;

                        &:before {
                            content: '';
                            transition: all 0.3s;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            margin: auto;
                            background: #183E98;
                            opacity: 0;
                            border-radius: 50%;
                        }
                    }

                    input:checked + span {
                        border-color: #183E98;

                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.jq-selectbox.jqselect {
    display: block !important;
    width: 100%;

    .jq-selectbox__select {
        width: 100%;
        padding: 18px 16px 17px;
        height: 60px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
        color: #78B82A;
        border: 1px solid #78B82A;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        position: relative;
        cursor: pointer;

        .jq-selectbox__select-text {
            width: 100% !important;
            margin: 0;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.66528L6.01136 9.65392L5.05129 8.69385L11.0399 2.70521L12 3.66528Z' fill='%2378B82A'/%3E%3Cpath d='M5.98877 9.63599L0.000131678 3.64734L0.960205 2.68727L6.94884 8.67591L5.98877 9.63599Z' fill='%2378B82A'/%3E%3C/svg%3E%0A");
            background-position: 50%;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .jq-selectbox__dropdown {
        top: 100% !important;
        border: 1px solid #78B82A;
        background: #000;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 18px 16px 17px;
                font-size: 22px;
                text-transform: uppercase;
                color: #78B82A;
                cursor: pointer;

                &:hover,&.sel {
                    color: #fff;
                }
            }
        }
    }
}


.burger {
    flex: 0 0 40px;
    z-index: 71;
    width: 40px;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.41357H28M2 10.9598H28M2 19.5061H28' stroke='%23F1F0EC' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    position: relative;

    @media all and (max-width: 1024px)  {
        display: block;
    }
}

.form-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: rgba(#1E193D, 0.2);
    transition: all 0.5s;
    padding: 100px 40px 40px 40px;

    @media all and (max-width: 767px) {
        padding: 0;
    }

    @media all and (min-width: 768px) {

        &:before {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            content: '';
        }
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .formExtraWrapper {
        width: 588px;
        margin: auto;
        position: relative;   
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left; 
        z-index: 10;    

        @media all and (max-width: 767px) {
            width: 300;
            display: block;
        }

        .close-form {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 26px;
            height: 26px;
            background: 50% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23322D50'/%3E%3C/svg%3E%0A") no-repeat;
            cursor: pointer;
            z-index: 101;
        }
    }
}

.form-b {
    font-size: 0;
    padding: 52px 33px 48px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    z-index: 100;

    @media all and (max-width: 767px) {
        padding: 48px 20px;
    }

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 100%;
        text-transform: uppercase;
        color: #0C395F;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        padding-bottom: 14px;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #0C395F;
        padding-bottom: 52px;
    }
}

.menu_burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 251px;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    background: #161b21;
    font-size: 0;
    opacity: 0;
    border-radius: 40px;

    &.opened {    
        opacity: 1;
        visibility: visible;
    }

    .menu_scroll {
        padding: 57px 0 30px;
    }

    .btn_button {
        margin: 10px 30px 0;
        padding: 15px 20px;
        font-size: 18px;
    }

    .menuClose {
        position: absolute;
        top: 5px;
        right: 16px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        box-sizing: border-box;
        background: url("data:image/svg+xml,%3Csvg width='30' height='22' viewBox='0 0 30 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2.41357H28M2 10.9598H28M2 19.5061H28' stroke='%23F1F0EC' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }

    .menu_top,.menu_top2 {

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {
                padding: 2px 0;
               

                > a {
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: right;
                    color: #f1f0ec;
                    padding: 10px 30px;
                    text-decoration: none;
                    position: relative;
                
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.hasSubmenu {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }
}

.site_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content_block_wr {
    flex: 1 1 auto;
}

.btn_button {
    display: block;
    border: none;
    background: #161b21;
    border-radius: 30px;
    outline: none;
    padding: 15px 29px;
    font-weight: 600;
    font-size: 16px;
    color: #f1f0ec;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: $rc;
    text-decoration: none;
    position: relative;

    @media all and (max-width: 767px) {
        padding: 9px 20px;
        font-size: 14px;
    }

    &:hover {
        opacity: .8;
    }

    &.white {
        color: #161b21;
        background: #f1f0ec;
    }

    &.small {
        padding: 15px 19px;
        font-weight: 500;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding: 0 60px;
    background: #161b21;

    .block_inner {
        padding: 26px 0;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .logo {
        flex: 0 0 50px;

        a {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            font-size: 0;

            img {
                height: auto;
            }
        }
    }

    .menu_header {
        flex: 1 1 auto;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 0;
            text-align: center;

            li {
                margin: 0 20px;
                display: inline-block;
                vertical-align: top;

                a {
                    display: block;
                    font-weight: 500;
                    font-size: 18px;
                    color: #f1f0ec;
                    padding: 10px;
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }

    @media all and (max-width: 1024px) {
        .block_inner {
            padding: 5px 0;
            justify-content: space-between;

            .logo {
                flex: 0 0 30px;
            }

            .menu_header{
                display: none;
            }

            .btn_button {
                display: none;
            }
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.footer {
    padding: 0 60px;
    background: #161b21;

    .block_inner {
        max-width: 1170px;
        margin: 0 auto;
        padding: 70px 0 196px;

        @media all and (max-width: 1000px) {
            padding: 50px 0 100px;
        }

        .title {
            font-weight: 700;
            font-size: 36px;
            color: #f1f0ec;
            padding-bottom: 40px;
            text-align: center;

            @media all and (max-width: 1000px){
                font-size: 24px;
                padding-bottom: 20px;
            }
        }

        .inner {
            display: flex;
            gap: 30px;

            @media all and (max-width: 1000px){
                display: block;
            }

            .left {
                flex: 0 0 calc(50% - 15px);
                padding: 50px;
                border-radius: 30px;
                background: #f1f0ec;

                .contact_item {
                    margin-bottom: 20px;
                    font-weight: 400;
                    font-size: 18px;
                    color: #161b21;

                    b {
                        font-weight: 600;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @media all and (max-width: 1000px){
                    padding: 20px 40px;
                    margin-bottom: 30px;

                    .contact_item {
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
            }

            .right {
                flex: 0 0 calc(50% - 15px);
                overflow: hidden;
                border-radius: 30px;
                background: #f1f0ec;
            }
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.top_block_wr {
    padding: 0 60px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;

    @media all and (max-width: 1100px){
        min-height: 570px;
    }

    @media all and (max-width: 767px){
        min-height: 400px;
    }

    .block_inner {
        padding: 128px 0;

        .inner {
            max-width: 678px;

            .title{
                font-weight: 700;
                font-size: 64px;
                color: #161b21;
                padding-bottom: 20px;
            }

            .body {
                font-weight: 500;
                font-size: 18px;
                color: #161b21;
                padding-bottom: 30px;
            }

            .btn_button {
                display: inline-block;
                vertical-align: top;
            }

            @media all and (max-width: 767px) {
                .title {
                    font-size: 28px;
                    letter-spacing: 0.02em;
                    padding-bottom: 10px;
                }

                .body {
                    font-size: 14px;
                    padding-bottom: 16px;
                }
            }
        }

        @media all and (max-width: 1100px){
            padding: 30px 0;
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.about_block_wr {
    padding: 0 60px;
    background: #161b21;

    .block_inner {
        max-width: 1170px;
        padding: 70px 0;
        display: flex;
        gap: 80px;
        align-items: center;
        
        .title {
            font-weight: 700;
            font-size: 36px;
            color: #f1f0ec;
            padding-bottom: 40px;
        }

        .left {
            flex: 1 1 auto;

            .body {
                font-weight: 400;
                font-size: 16px;
                color: #f1f0ec;
                line-height: 130%;

                p{
                    margin: 0 0 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media all and (max-width: 1100px){
            gap: 30px;
            padding: 40px 0;

            .title {
                font-size: 28px;
                padding-bottom: 20px;
            }

            .left {

                .body {
                    p{margin-bottom: 16px;}
                }
            }
        }

        .right {
            flex: 0 0 54%;

            .title {
                display: none;
            }

            img {
                border-radius: 30px;
            }
        }

        @media all and (max-width: 892px){
            flex-direction: column;
            gap: 20px;

            .left {
                order: 1;

                .title{
                    display: none;
                }
            }

            .right {
                flex: none;
                width: 100%;

                .title {
                    display: block;
                    text-align: center;
                    font-size: 24px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    &.works_block {


        .block_inner {

            .left {
                order: 1;
            }
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.projects_block_wr {
    padding: 0 15px;

    .block_inner {
        max-width: 1410px;
        padding: 70px 0;

        .title{
            font-weight: 700;
            font-size: 36px;
            color: #161b21;
            text-align: center;
            padding-bottom: 40px;
        }

        @media all and (max-width: 767px){
            padding: 50px 0;

            .title {
                font-size: 24px;
                padding-bottom: 20px;
            }
        }
    }

    .inner {
        margin-bottom: 57px;
        // display: flex;
        // justify-content: center;
        // gap: 28px;

        @media all and (max-width: 1024px){
            margin-bottom: 30px;
        }

        @media all and (max-width: 767px) {
            //overflow: auto;
            margin-left: -15px;
            margin-right: -15px;
            padding-bottom: 10px;
            margin-bottom: 20px;
            //justify-content: start;
        }

        .item {
            padding: 4px;
            background: #161b21;
            border-radius: 30px;
            //flex: 0 0 calc(33.33% - 18px);

            .image {

                img {
                    border-radius: 24px;
                }
            }

            .body {
                padding: 24px 40px 20px;

                @media all and (max-width: 1024px){
                    padding: 18px;
                }

                .name {
                    font-weight: 600;
                    font-size: 18px;
                    color: #f1f0ec;
                    padding-bottom: 15px;
                }

                .price {
                    font-weight: 400;
                    font-size: 18px;
                    color: #f1f0ec;
                    padding-bottom: 15px;
                }

                .text {
                    font-weight: 400;
                    font-size: 14px;
                    color: #f1f0ec;
                    padding-bottom: 20px;
                }

                .btn_button {
                    display: inline-block;
                    vertical-align: top;
                }
            }

            @media all and (max-width: 767px) {
                width: 215px;

                .body {
                    padding-top: 10px;

                    .name {
                        font-size: 16px;
                    }

                    .price {
                        font-size: 16px;
                    }

                    .text {
                        font-size: 12px;
                    }

                    .btn_button {
                        padding: 8px 15px;
                        font-size: 12px;
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.faq_block_wr {
    padding: 0 60px;
    background: #161b21;

    .block_inner {
        max-width: 690px;
        padding: 70px 0;

        .title {
            font-weight: 700;
            font-size: 36px;
            color: #f1f0ec;
            padding-bottom: 40px;
            text-align: center;
        }

        .accor_block {
            margin-bottom: 30px;
            border-radius: 40px;
            background: #f1f0ec;

            .name {
                padding: 25px 80px 25px 50px;
                position: relative;
                font-weight: 600;
                font-size: 18px;
                color: #161b21;
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 50px;
                    bottom: 0;
                    width: 34px;
                    height: 34px;
                    margin: auto;
                    transition: all .3s;
                    background: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17C0 7.6 7.6 0 17 0C26.4 0 34 7.6 34 17C34 26.4 26.4 34 17 34C7.6 34 0 26.4 0 17ZM32 17C32 8.7 25.3 2 17 2C8.7 2 2 8.7 2 17C2 25.3 8.7 32 17 32C25.3 32 32 25.3 32 17Z' fill='%23161B21' /%3E%3Cpath d='M7.99922 17.3998C7.61262 17.0132 7.61262 16.3864 7.99922 15.9998C8.38582 15.6132 9.01262 15.6132 9.39922 15.9998L16.2921 22.8927C16.6826 23.2832 17.3158 23.2832 17.7063 22.8927L24.5992 15.9998C24.9858 15.6132 25.6126 15.6132 25.9992 15.9998C26.3858 16.3864 26.3858 17.0132 25.9992 17.3998L17.7063 25.6927C17.3158 26.0832 16.6826 26.0832 16.2921 25.6927L7.99922 17.3998Z' fill='%23161B21' /%3E%3Cpath d='M17 8C17.5523 8 18 8.44772 18 9L18 24C18 24.5523 17.5523 25 17 25C16.4477 25 16 24.5523 16 24L16 9C16 8.44772 16.4477 8 17 8Z' fill='%23161B21' /%3E%3C/svg%3E") 50% no-repeat;
                    background-size: contain;
                }
            }

            .body {
                padding: 0 50px 25px;
                font-weight: 400;
                font-size: 16px;
                color: #161b21;
                display: none;
            }

            @media all and (max-width: 892px) {
                margin-bottom: 10px;
                border-radius: 30px;

                .name {
                    padding: 8px 40px 8px 15px;
                    font-weight: 500;
                    font-size: 12px;

                    &:before {
                        right: 15px;
                        width: 16px;
                        height: 16px;
                    }
                }

                .body {
                    font-size: 12px;
                    padding: 0 15px 8px;
                }
            }

            &.active {
                .name {
                    &:before {
                        transform: rotate(90deg);
                    }
                }

                .body {
                    display: block;
                }
            }

            &:last-child{
                margin-bottom: 0;
            }
        }

        @media all and (max-width: 1100px){
            padding: 40px 0;

            .title {
                font-size: 28px;
                padding-bottom: 20px;
            }
        }

        @media all and (max-width: 892px){
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 24px;
            }
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.number_block {
    padding: 0 60px;

    .block_inner {
        max-width: 1170px;
        padding: 70px 0;
        display: flex;
        gap: 20px;
        justify-content: space-around;

        .item {
            text-align: center;

            .number {
                font-weight: 700;
                font-size: 64px;
                color: #161b21;
            }

            .text {
                font-weight: 700;
                font-size: 18px;
                color: #161b21;
            }

            @media all and (max-width: 767px) {
                .number {
                    font-size: 24px;
                    padding-bottom: 10px;
                }

                .text {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        @media all and (max-width: 1100px) {
            padding: 50px 0;
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.btn_block_wr {
    padding: 0 60px;
    background: #161b21;

    .block_inner {
        max-width: 1170px;
        padding: 70px 0;
        text-align: center;

        .title {
            font-weight: 700;
            font-size: 36px;
            color: #f1f0ec;
            padding-bottom: 20px;
        }

        .text {
            font-weight: 400;
            font-size: 18px;
            color: #f1f0ec;
            padding-bottom: 40px;
        }

        .btn_button {
            display: inline-block;
            vertical-align: top;
        }

        @media all and (max-width: 1100px){
            padding: 40px 0;

            .title {
                font-size: 28px;
                padding-bottom: 20px;
            }
        }

        @media all and (max-width: 892px){
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 24px;
            }

            .text {
                font-size: 14px;
                padding-bottom: 20px;
            }
        }
    }

    @media all and (max-width: 475px) {
        padding: 0 16px;
    }
}

.so_block_wr {
    padding: 0 15px;

    @media all and (max-width: 767px) {
        padding: 0;
    }

    .block_inner {
        max-width: 1410px;
        padding: 70px 0;

        .item {
            text-align: center;

            .image {
                font-size: 0;

                img {
                    border-radius: 30px;
                    width: 100%;
                    border: 4px solid #161b21;
                }
            }

            .body {
                padding: 30px 0 0;

                @media all and (max-width: 1024px){
                    padding: 20px 0 0; 
                }

                .work {
                    font-weight: 700;
                    font-size: 18px;
                    color: #161b21;
                    padding-bottom: 15px;
                }

                .name {
                    font-weight: 400;
                    font-size: 18px;
                    color: #161b21;
                    padding-bottom: 10px;
                }
                .text {
                    font-weight: 400;
                    font-size: 18px;
                    color: #f1f0ec;
                }
            }

            @media all and (max-width: 767px) {
                width: 215px;

                .body {
                    padding-top: 20px;

                    .name {
                        font-size: 12px;
                    }

                    .work {
                        font-size: 14px;
                        padding-bottom: 10px;
                    }

                    .text {
                        font-size: 12px;
                    }
                }
            }
        }

        @media all and (max-width: 767px){
            padding: 50px 0;
        }
    }
}

.slider_work {
    padding: 0;
    background: #161b21;

    .block_inner {
        max-width: 100%;
        padding: 70px 0;

        .item {
            text-align: center;

            img {
                border-radius: 30px;
                width: 100%;
            }

            @media all and (max-width: 767px) {
                width: 215px;
            }
        }

        .title {
            font-weight: 700;
            font-size: 36px;
            color: #f1f0ec;
            padding: 0 16px 60px;
            text-align: center;
        }

        @media all and (max-width: 1100px){
            padding: 50px 0;

            .title {
                font-size: 28px;
                padding-bottom: 20px;
            }
        }

        @media all and (max-width: 892px){

            .title {
                font-size: 24px;
            }
        }

        @media all and (max-width: 767px){
            padding: 50px 0;
        }
    }
}

.form_block_wr {
    padding: 0 16px;

    p{margin: 0;}

    br {
        display: none;
    }

    .block_inner {
        padding: 70px 0;
        max-width: 450px;

        .title {
            font-weight: 700;
            font-size: 36px;
            color: #161b21;
            padding: 0 0 40px;
            text-align: center;
        }

        .btn {
            text-align: center;

            .btn_button {
                display: inline-block;
            }
        }

        @media all and (max-width: 1100px){
            padding: 50px 0;

            .title {
                font-size: 28px;
                padding-bottom: 20px;
            }
        }

        @media all and (max-width: 892px){

            .title {
                font-size: 24px;
            }
        }

        @media all and (max-width: 767px){
            padding: 50px 0;
        }
    }
}