</div>
<footer class="footer" id="contacts">
	<div class="block_inner">
		<div class="title">Контакты</div>
		<div class="inner">
			<div class="left">
				<div class="contact_item"><b>Телефон:</b> +7 (999) 123-4567 </div>
				<div class="contact_item"><b>WhatsApp:</b> +7 (999) 123-4567 </div>
				<div class="contact_item"><b>Email:</b> info@pechnik.ru </div>
				<div class="contact_item"><b>Адрес:</b> Tashkent Uzbekistan  </div>
				<div class="contact_item"><b>Рабочее время:</b> Пн-Пт: 09:00-18:00</div>
			</div>
			<div class="right">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A70a5c499241fb168295bf2f2c7c0403b5533acacbb82f87e7a0e4b1cdc513c80&amp;source=constructor" width="100%" height="290" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</footer>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>